# Flask configuration
FLASK_ENV=development
PORT=9000

# Ngrok / Cloudflared
NGROK_AUTHTOKEN=your-ngrok-auth-token-here

# Africastalking API credentials
USERNAME=your-AT-username-here
API_KEY=your-AT-api-key-here