# Flask configuration
FLASK_ENV=development
PORT=9000

# Ngrok / Cloudflared
NGROK_AUTHTOKEN=your-ngrok-auth-token-here

# Africastalking API credentials
AT_USERNAME=your-AT-username-here
AT_API_KEY=your-AT-api-key-here

